{% extends "layout/layout.html" %}

{% block content %}

  
  {% if worlds %}
    <h4>Custom Worlds</h4>
    {% set filter_worlds = worlds %}
    {% set request_allowed = False %}
    {% set accordion_id = "custom" %}
    {% include "elements/worlds.html" %}
  {% endif %}

  {% if shared %}
    <h4>Shared Worlds</h4>
    {% set filter_worlds = shared %}
    {% set request_allowed = False %}
    {% set accordion_id = "shared" %}
    {% include "elements/worlds.html" %}
  {% endif %}

  <h4>All Worlds:</h4>
  {% set filter_worlds = game_ids %}
  {% set request_allowed = True %}
  {% set accordion_id = "all" %}
  {% include "elements/worlds.html" %}

{% endblock %}
