body {
  background-color: black;
  font-size: 11px;
}

.terminal {
  height: 100vh;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 1em;
  color: white;
  background-color: transparent;
}

.line {
  margin-top: 0.0em;
  margin-bottom: 0.3em;
}

.cmd {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 11px;
}

.cmd:focus {
  outline: none;
}

.cmd::placeholder {
  color: white;
}
