<form 
  action="/{{game.name}}/save/ctx/attribute?ctx_id={{ctx.id}}&id={{attribute_id}}"
  method="POST" 
  enctype="multipart/form-data"
>
  <div class="input-group mb-3">
    <span class="input-group-text" id="shared">Key: </span>
    <input type="text" class="form-control" name="key" id="key" value="{{attribute.key}}" required>
  </div>

  {% set inp_id = path ~ "_" ~ attribute_id %}
  {% set inp_name = "value" %} 
  {% set inp_value = attribute.value %}
  {% set inp_label = "Value: " %} 
  {% include "forms/free-inp.html" %}
  <button type="submit" class="btn btn-primary">save</button>
</form>

