<div class="accordion accordion" id="accordionExample">
  {% if attributes %} 
    {% set atts = attributes %} 
  {% else %} 
    {% set atts = default_attribute() %} 
  {% endif %} 

  {% for attribute in atts %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingattribute{{loop.index}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
            data-bs-target="#collapseattribute{{loop.index}}" aria-expanded="false" 
            aria-controls="collapseattribute{{loop.index}}">
          {% if attributes %}
            {{attribute}}: {{atts[attribute]}}
          {% else %}
            ...
          {% endif %}
        </button>
      </h2>
      <div id="collapseattribute{{loop.index}}" class="accordion-collapse collapse" 
          aria-labelledby="headingattribute{{loop.index}}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <form> 
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="key" name="key"
                  aria-label="" aria-describedby="txt" value="{{attribute}}">
                <input type="text" class="form-control" placeholder="value" name="value"
                  aria-label="" aria-describedby="txt" value="{{atts[attribute]}}">
                <button type="submit" class="btn btn-primary">save</button>
              </div>
              <button type="button" class="btn btn-secondary">remove</button>
              <button type="button" class="btn btn-secondary">insert before</button>
              <button type="button" class="btn btn-secondary">insert after</button>
            </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
