<div class="accordion accordion" id="accordionExample">
  {% for it in listeners|dictsort %}
    {% set listener = listeners[it.key] %}
    <div class="accordion-item">
      <h2 class="accordion-header d-flex align-items-center" id="headinglistener{{label}}{{loop.index}}">
        <form class="" action="/{{game.name}}/remove/ctx/listener?ctx_id={{ctx.id}}&id={{listener.id}}" method="POST">
          <button type="submit" class="btn btn-success btn-sm">X</button>
        </form>
        <button class="accordion-button collapsed flex-grow-1" type="button" data-bs-toggle="collapse" 
            data-bs-target="#collapselistener{{label}}{{loop.index}}" aria-expanded="false" 
            aria-controls="collapselistener{{label}}{{loop.index}}">
          {% include "objects/listener-summary.html" %}
        </button>
      </h2>
      <div id="collapselistener{{label}}{{loop.index}}" class="accordion-collapse collapse" 
          aria-labelledby="headinglistener{{label}}{{loop.index}}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <br>
          {% set listener_id = listener.id %}
          {% include "objects/listener-edit.html" %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<br>

<button 
  type="button" 
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#listenerAddModal"
>New Listener</button>


