<div class="accordion accordion" id="accordionExample">
  {% for key in listeners %}
  {% set listener = listeners[key] %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="headinglistener{{label}}{{loop.index}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
            data-bs-target="#collapselistener{{label}}{{loop.index}}" aria-expanded="false" 
            aria-controls="collapselistener{{label}}{{loop.index}}">
          <span class="brand">{{listener.event|safe}}</span> 
          <span style="padding: 0.7em;">⇒</span>
          <span class="brand">{{listener.arguments}}</span>
        </button>
      </h2>
      <div id="collapselistener{{label}}{{loop.index}}" class="accordion-collapse collapse" 
          aria-labelledby="headinglistener{{label}}{{loop.index}}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form 
            action="/{{game.name}}/save/ctx/listener?ctx_id={{ctx.id}}&id={{listener.id}}"
            method="POST" 
            enctype="multipart/form-data"
          > 
              <div class="input-group mb-3">
                <span class="input-group-text" id="id">listener:</span>
                <input type="text" class="form-control" placeholder="text" aria-describedby="id" 
                  name="id" value="{{listener.id}}" required>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="event">In-Event:</span>
                <input type="text" class="form-control" placeholder="..." name="event"
                  aria-describedby="event" value="{{listener.event}}">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="arguments">Out-Event:</span>
                <input type="text" class="form-control" placeholder="..." name="arguments" 
                  aria-describedby="arguments" value="{{listener.arguments}}">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="logic">Logic:</span>
                <input type="text" class="form-control" placeholder="..." name="logic" 
                  aria-describedby="logic" value="{{listener.logic}}">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="context">Context:</span>
                <input type="text" class="form-control" placeholder="..." name="context" 
                  aria-describedby="context" value="{{listener.ctx}}">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="permeable">Permeable:</span>
                <div class="input-group-text">
                  <input class="form-check-input mt-0" type="checkbox" name="permeable" value=""
                      {{ "checked" if listener.permeable else ""}}>
                </div>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="exec">Exec:</span>
                <div class="input-group-text">
                  <input class="form-check-input mt-0" type="checkbox" name="exec" value="" 
                      {{ "checked" if listener.exec else ""}}>
                </div>
              </div>

              <button 
                type="submit" 
                class="btn btn-primary"
                onclick="SaveListener('{{ctx.id}}', '{{listener.id}}');"
              >save</button>
              <button type="button" class="btn btn-secondary">remove</button>
              <button type="button" class="btn btn-secondary">add</button>
            </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


