<div class="input-group mb-3">
  <span class="input-group-text" id="{{event_id}}_label">{{event_label}}</span>
  {% set inp_id = event_id %}
  {% set inp_name = event_name %} 
  {% set inp_label = "" %} 
  {% set inp_value = events %}
  {% set inp_data_type= "event" %}
  {% include "forms/free-inp.html" %}
  {% set inp_data_type= "" %}

  <!-- <input 
    type="text" 
    class="form-control" 
    placeholder="..." 
    id="{{event_id}}" 
    name="{{event_name}}" 
    value="{{events}}"
    data-type="event" 
    > -->
  <button 
    class="btn btn-outline-secondary" 
    type="button" 
    id="button-addon2"
    onclick="OpenEventEditor('{{event_id}}', {% if ctx %}'{{ctx.id}}'{% else %}null{% endif %});"
  >
    <i class="bi bi-pencil"></i>
  </button>
</div>

