{
  "txtad": {
    "address": "http://localhost:4080/",
    "games_path": "data/games/",
    "logger_path": "game/logs/",
    "tmp_path": "data/tmp/"
  },
  "logger_path": "builder/logs/",
  "creators_path": "builder/creators/"
}
